@font-face {
    font-family: 'Futura';
    src: url('futuralightc.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('futurabookc.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('Futuramediumc.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('futurademic.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}